*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
}

/*SECCION "HEADER"*/
nav{
    margin-top: 20px;
}
img.logo1, img.logo2 {
    display: inline-block;
    width: 200px;
}
img.logo2 {
    padding-bottom: 15px;
}
img.logo1:hover{

}
header .contenedor{
     display: flex;
    justify-content: space-between;
}
header a{
    font-size: 17px;
    font-weight: bold;
}
header ul{
    display: flex;
    margin-top: 25px;

}
header ul li{
    margin-right: 15px;
    text-align: center;

}
nav ul li a:hover{
    font-size: 18px;
    transition: 0.3s;
    border-bottom: 4px solid #200303;
}
nav ul li a{
    color:#200303;
}

/*SECCION "BODY"*/
body{
    font-family: 'Roboto Condensed', sans-serif;
}

/*SUB-SECCION "BANNERS*/
h3{
    color:#200303;
    font-family: 'Bangers', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    margin-top: 85px;
    margin-bottom: 10px;
}
img.banner{
    border-radius: 25px;
    width: 700px;
    padding:20px;
    filter:drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5)); 
}
b.titulobanner {
    font-family: 'Bangers', cursive;
    font-weight: lighter;
    font-size: 42px;
    color: #200303;
    
}
.contenedor-bannertenis{
    display: flex;
    justify-content: space-around;
    padding:30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    line-height:25px;
    text-align: center;
}
div.texto1{
    padding-top: 150px;
    text-align: left;
    padding-right: 25px;
}
div.texto2{
    padding-top: 135px;
    text-align: end;
    padding-left: 25px;
}
/*SUB-SECCION "ENVIOS"*/
.contenedor-metodos, .contenedor-prod{
    display: flex;
    flex-wrap: wrap;
}
#metodos img{
    width: 350px;
    margin: 10px;
}
img.metodimg, img.metodimg2{  
  margin-bottom: 40px;  
}
img.metodimg2 {
    padding-top: 25px;
    padding-bottom: 4px;
}
#metodos .item{
    width: 50%;
    text-align: center;
}
ul li{
    list-style: none;
}
#metodos ul li:nth-child(2),#contactos ul li:nth-child(2) {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Bangers', cursive;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 20px;
}
#metodos ul li:nth-child(3),#contactos ul li:nth-child(3) {
    font-size: 20px;
    line-height: 25px;;
    margin:0 20px;
}

/*SECCION "FOOTER*/
footer{
    background: #200;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;   
}
footer .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer img{
    margin: 0 40px;
    width:50px;
}
footer p{
    color: #fff;
    margin-top: 40px;
    font-family: 'Jaldi', sans-serif;
}

/*PAGINA "HISTORIA*/
.historia{
    margin: 20px;
    padding-top: 20px;
}
ul.historia{
    list-style: circle;
}

/*SECCION "NUESTROS PRODUCTOS*/
img.productos {
    width: 450px;
    padding: 25px;
}

/*SECCION "QUIENES SOMOS"*/
.contenedor-quienessomos {
    text-align: center;
    margin: 0 70px;;
    font-size: 24px;
    font-weight: bold;
}
.quienessomos {
    margin-bottom: 50px;
    margin-top: -20px;
}

/*SECCION "CATALOGO"*/
.catalogo {
    display: inline-flex;
    text-align: center;
    margin: 20px;
}
.img-catalogo{
    padding-left: 100px;
    width: 700px;
    height: 350px;
}
.img-catalogo:hover{
    transition: 0.2s;
    width: 725px;
    height: 365px;
    filter:drop-shadow(0 2px 5px rgba(0, 0, 0, 0.9));
}
.productos {
    text-align: center;
}

/*SECCION "TENIS Y ROPA*/
.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 50%;
    text-align: center;
}
#cat img{
    margin-top: 100px;
    width: 350px;
}
#cat li{
    margin: 0 50px;
}